In [1]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import nltk
import string
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
data_path = 'news.csv'
df = pd.read_csv(data_path, error_bad_lines=False)

<ipython-input-2-8ea3875c0daa>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(data_path, error_bad_lines=False)

In [3]:
df.head()

                                                Body   Label
0  Mustafa Denizli: Var olan kredimizi tüketiyoru...  gerçek
1  Yemek Kartlarıyla Market Alışverişinin Yasakla...   yalan
2  Samsun'da feci olay... Bu halde hastaneye kald...  gerçek
3  Şırnak'ta minibüsün geçişi sırasında patlama: ...  gerçek
4  İnce hesaplar! Beşiktaş yenerse averajla... Sp...  gerçek

In [4]:
df.shape

(4455, 2)

Checking the total number of the elements before preprocess steps

In [5]:
# Total count of HTML elements
html_element_count = df['Body'].str.count('<[^>]+>').sum()
print("HTML Element Count:", html_element_count)

# Total number of special characters
special_char_count = df['Body'].apply(lambda text: sum(1 for char in text if char in string.punctuation)).sum()
print("Special Character Count:", special_char_count)

# Total number of newlines and white spaces
whitespace_count = df['Body'].str.count('\s').sum()
print("Whitespace Count:", whitespace_count)

# Total number of capital letters
uppercase_count = df['Body'].str.count(r'[A-Z]').sum()
print("Uppercase Count:", uppercase_count)

# Total number of stop-words
stopwords_list = stopwords.words('turkish')  # Turkish stop-words list
stopwords_count = df['Body'].apply(lambda text: len([word for word in text.split() if word.lower() in stopwords_list])).sum()
print("Stopwords Count:", stopwords_count)

HTML Element Count: 9
Special Character Count: 260655
Whitespace Count: 1309647
Uppercase Count: 263136
Stopwords Count: 123573

### Data Preprocessing Steps

* Remove HTML elements

* Filter special characters

* Eliminate newlines and white spaces

* Encode in lowercase letters

* Remove stop words

In [6]:
def preprocess_text(text):
    # Remove HTML elements
    text = BeautifulSoup(text, "html.parser").get_text()
    
    # Filter special characters
    text = re.sub(r"[^a-zA-ZğüşıöçĞÜŞİÖÇ\s]", "", text)
    
    # Eliminate newlines and white spaces
    text = re.sub(r"\s+", " ", text)
    
    # Encode in lowercase letters
    text = text.lower()
    
    # Remove stop words and extra whitespaces
    stop_words = set(stopwords.words('turkish'))
    words = text.split()
    words = [word for word in words if word.lower() not in stop_words]
    text = ' '.join(words)
  
    return text

In [7]:
df['Body'] = df['Body'].apply(preprocess_text)

<ipython-input-6-e43350bc8c9c>:3: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  text = BeautifulSoup(text, "html.parser").get_text()

In [8]:
df.head()

                                                Body   Label
0  mustafa denizli var olan kredimizi tüketiyoruz...  gerçek
1  yemek kartlarıyla market alışverişinin yasakla...   yalan
2  samsunda feci olay halde hastaneye kaldırıldı ...  gerçek
3  şırnakta minibüsün geçişi sırasında patlama öl...  gerçek
4  i̇nce hesaplar beşiktaş yenerse averajla spor ...  gerçek

In [9]:
# Total count of HTML elements
html_element_count = df['Body'].str.count('<[^>]+>').sum()
print("HTML Element Count:", html_element_count)

# Total number of special characters
special_char_count = df['Body'].apply(lambda text: sum(1 for char in text if char in string.punctuation)).sum()
print("Special Character Count:", special_char_count)

# Total number of newlines and white spaces
whitespace_count = df['Body'].str.count('\s').sum()
print("Whitespace Count:", whitespace_count)

# Total number of capital letters
uppercase_count = df['Body'].str.count(r'[A-Z]').sum()
print("Uppercase Count:", uppercase_count)

# Total number of stop-words
stopwords_list = stopwords.words('turkish')  # Turkish stop-words list
stopwords_count = df['Body'].apply(lambda text: len([word for word in text.split() if word.lower() in stopwords_list])).sum()
print("Stopwords Count:", stopwords_count)

HTML Element Count: 0
Special Character Count: 0
Whitespace Count: 1128147
Uppercase Count: 0
Stopwords Count: 0

In [10]:
df.shape

(4455, 2)

In [11]:
# Check for null values on DataFrame
null_values = df.isnull()

# Calculate the number of null values in each column
null_counts = null_values.sum()

# Get the total number of nulls
total_null_count = null_counts.sum()

print("Total Null Count:", total_null_count)

Total Null Count: 0

In [12]:
df.to_csv('clean_news.csv', index=False, encoding='utf-8-sig')